<p>
    <img src="https://storage.googleapis.com/tax-innovation-prod/logo_tax.png" width="400" height="100">
    <br>
    <h2>Estás a un paso de poder acceder al sistema TAX INNOVA.</h2>
</p>
<div style="display:table;clear:both">
    <div style="float:left;width:40%">
        <img src="https://storage.googleapis.com/tax-innovation-prod/fotodefondo.png" width="80%" height="70%">
    </div>
    <div style="float:left;width:60%">
        <p>
            <h2>Haz creado tu usuario de manera éxitosa</h2>
        
            Nuestros ejecutivos se pondran en contacto contigo para darte noticias
            de tu aprobación de cuenta dentro del sistema.
        
            Para activar tu cuenta, has clic en el siguiente enlace:
            <br>
            <a href="{{ full_path_domain }}?token={{ verification_token }}"
                >Activar mi cuenta.</a
            >
            <br>
            <br>
            ¡Gracias por tu preferencia!
            <br>
            <br>
            Firma:
            <br>
            Dirección de Servicio a Clientes <strong>TAX INNOVA</strong>
        </p>
    </div>
</div>
